---
import Navbar from '../components/Navbar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
const navLinks = [
  { href: '/', text: 'Home' },
  { href: '/tasks', text: 'Tasks' },
  { href: '/about', text: 'About' },
  { href: '/auth/login', text: 'Login' },
];
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title} | Daffa Raihan</title>
  <link rel="stylesheet" href="../styles/global.css">
</head>
<body>
  <div class="container">
	<Navbar links={navLinks} />
	<slot />
  </div>
</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	body{
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container{
		width: 100%;
		max-width: 1500px;
		padding: 1rem;
	}

	main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
	  color: white;
  }

	
</style>
